# Mac files
.DS_Store

# Dependency directories
/node_modules

# lerna files
/lerna-debug.log

# Netlify Deploy Configuration
# https://www.sanity.io/plugins/sanity-plugin-dashboard-widget-netlify
/web/src/dashboardConfig.js
